.main{
    background-color: rgb(67, 20, 239);
    margin: 10px auto;
    height: 400px;
    width: 95vw;
    position: relative;
}
.line{
    background-color: rgb(19, 108, 5);
    
    display: inline-block;
    position: absolute;
    top: 0;
}
body{
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
